.page {
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}
/* .wrapper{
    max-width: 100%;
    display: grid;
grid-template-columns: 10% 1fr 20%;
grid-template-rows: 100vh;
} */

.container{
    background-color: rgb(241, 237, 227);
}

.dropdown{
    text-align: center;
    margin: 0;
}

.navigation__menu{
    padding-top: 2vw;
    align-items: center;
}

.navigation__logo{
    padding: 2vw 0 3.5vw 0;
    text-align: center;
    font-size: 2vw;
    font-weight: 500;
    color: rgb(228, 164, 26);
}

.dropdown-container__name{
text-align: center;
    padding: 0.5vw;
}

.navigation__logo-image{
    width: 20%;
}

.navigation{
    height: 100vh;
    font-size: 1.2vw;
}

.card-img{
    height: 20vw;
    object-fit: cover;
}

.card-text{
    padding:1% 50% 0 0;
    color: black;
}
.title-text{
    color: black;
    padding: 2% 50% 0 0;
}
