.page {
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-image: url('../images/back.jpg');
    background-size: cover;
}
.wrapper{
    margin: 0% 7% 5% 7%;
    padding: 2% 5% 5% 5%;
    max-width: 100%;
    background-color: #fff;
}
.heading{
text-align: center;
font-size: 2.6vw;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 2.5vw;
}

.container__heading{
    font-size: 2vw;
    font-weight: 600;
}

.container__input{
    display: flex;
    flex-direction: row;
    gap: 2vw;
    font-size: 1.5vw;
}

.container__input__options, .container__input__id{
    flex-grow: 1;
    padding: 1%;
    border: none;
    border-bottom: 2px solid tomato;
}

.container__input__button{
    width: 20%;
    padding: 1.5%;
    margin-left: 2%;
    background-color: tomato;
    color: white;
    border: rgb(143, 31, 16);
    cursor: pointer;
}

.container__input__button:hover{
    background-color: rgb(233, 123, 103);
    transform: scale(1.01);
}

.response-container__item{
    font-size: 2vw;
    padding: 1.5vw;
    margin: 8vw 10vw 0 10vw;
    border: 0.2vw solid tomato;
    text-align: center;
}
.error-container__item{
    font-size: 2vw;
    padding: 1.5vw;
    margin: 7vw 10vw 0 10vw;
    border: 2px solid tomato;
    text-align: center;
    color: red;
    font-weight: 500;

}

.preloader {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
width: 100%;
height: 100%;
z-index: 9999;
display: flex;
align-items: center;
justify-content: center;
opacity: 1;
visibility: visible;
background: rgba(18,18,18,0.64);
transition: opacity 1s, visibility 0s 0s;
}

.preloader_hidden {
visibility: hidden;
opacity: 0;
transition: opacity 1s, visibility 0s 1s;
}

.sk-chase {
width: 128px;
height: 128px;
position: relative;
-webkit-animation: sk-chase 2.5s infinite linear both;
animation: sk-chase 2.5s infinite linear both;
}
.sk-chase-dot {
width: 100%;
height: 100%;
position: absolute;
left: 0;
top: 0;
-webkit-animation: sk-chase-dot 2s infinite ease-in-out both;
animation: sk-chase-dot 2s infinite ease-in-out both;
}
.sk-chase-dot:before {
content: '';
display: block;
width: 25%;
height: 25%;
background-color: #d65c0b;
border-radius: 100%;
-webkit-animation: sk-chase-dot-before 2s infinite ease-in-out both;
animation: sk-chase-dot-before 2s infinite ease-in-out both;
}
.sk-chase-dot:nth-child(1) {
-webkit-animation-delay: -1.1s;
animation-delay: -1.1s;
}
.sk-chase-dot:nth-child(2) {
-webkit-animation-delay: -1s;
animation-delay: -1s;
}
.sk-chase-dot:nth-child(3) {
-webkit-animation-delay: -0.9s;
animation-delay: -0.9s;
}
.sk-chase-dot:nth-child(4) {
-webkit-animation-delay: -0.8s;
animation-delay: -0.8s;
}
.sk-chase-dot:nth-child(5) {
-webkit-animation-delay: -0.7s;
animation-delay: -0.7s;
}
.sk-chase-dot:nth-child(6) {
-webkit-animation-delay: -0.6s;
animation-delay: -0.6s;
}
.sk-chase-dot:nth-child(1):before {
-webkit-animation-delay: -1.1s;
animation-delay: -1.1s;
}
.sk-chase-dot:nth-child(2):before {
-webkit-animation-delay: -1s;
animation-delay: -1s;
}
.sk-chase-dot:nth-child(3):before {
-webkit-animation-delay: -0.9s;
animation-delay: -0.9s;
}
.sk-chase-dot:nth-child(4):before {
-webkit-animation-delay: -0.8s;
animation-delay: -0.8s;
}
.sk-chase-dot:nth-child(5):before {
-webkit-animation-delay: -0.7s;
animation-delay: -0.7s;
}
.sk-chase-dot:nth-child(6):before {
-webkit-animation-delay: -0.6s;
animation-delay: -0.6s;
}
@-webkit-keyframes sk-chase {
100% {
    transform: rotate(360deg);
}
}
@keyframes sk-chase {
100% {
    transform: rotate(360deg);
}
}
@-webkit-keyframes sk-chase-dot {
80%, 100% {
transform: rotate(360deg);
}
}
@keyframes sk-chase-dot {
80%, 100% {
transform: rotate(360deg);
}
}
@-webkit-keyframes sk-chase-dot-before {
50% {
    transform: scale(0.4);
}
100%, 0% {
    transform: scale(1);
}
}
@keyframes sk-chase-dot-before {
50% {
    transform: scale(0.4);
}
100%, 0% {
    transform: scale(1);
}
}